<!-- Toolbar -->



<div class="body" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="32px">
  <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
    <div class="header-logo" fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/logo/ActionLabs.svg">
    </div>
    <div class="divider"></div>
  </div>

  <div class="title">
    {{ title }}
  </div>
  <form #form="ngForm">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="32px">
      <div class="full-width" fxLayout="row">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Enter the currency code</mat-label>
          <input [(ngModel)]="currency" [ngModelOptions]="{standalone: true}" matInput required>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <button class="button" mat-button (click)="getExchange()" [disabled]="!form.valid">
          <span class="button-text">EXCHANGE RESULT</span>
        </button>
      </div>

      <div *ngIf="currencyObj" class="full-width" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="32px">
        <div class="divider">
        </div>
        <div class="full-width" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="4px">
            <span class="date-title">
              Exchange rate now
            </span>
            <span class="date-value">
              {{ currencyObj.lastUpdatedAt | date: 'dd/MM/yyyy HH:mm' }}
            </span>
          </div>

          <div class="title" fxLayout="column">
            {{ currency + '/BRL' }}
          </div>

        </div>

        <div class="full-width value-box" fxLayout="row" fxLayoutAlign="center center">
          <span>R$&nbsp;{{ (1 / currencyObj.exchangeRate).toFixed(2) }}</span>
        </div>

        <div class="full-width" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
          <div class="full-width" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="range-title">
              LAST 30 DAYS
            </div>
            <div>
              <button class="expand-button" mat-icon-button (click)="collapsedHistory = !collapsedHistory">
                <mat-icon *ngIf="collapsedHistory; else minusButton">add</mat-icon>
                <ng-template #minusButton>
                  <mat-icon>remove</mat-icon>
                </ng-template>
              </button>
            </div>
          </div>

          <div *ngIf="collapsedHistory; else exchangeHistory" style="background-color: #07B0FB !important;"
            class="divider">
          </div>
          <ng-template #exchangeHistory>
            <div class="full-width history-background" fxLayout="column" fxLayoutAlign="center center">

              <div class="full-width history-container" fxLayout="column" fxLayoutAlign="space-around center"
                fxLayoutGap="16px">
                <div *ngFor="let day of currencyHistory" class="history-box">
                  <div class="full-width box-padding" fxLayout="column" fxLayoutAlign="space-around start"
                    fxLayoutGap="8px" fxFlex>
                    <div class="full-width" fxLayout="row" fxLayoutAlign="start center">
                      <span class="date-value" style="color: #07B0FB">
                        {{ day.date | date: 'dd/MM/yyyy' }}
                      </span>
                    </div>

                    <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="4px">
                      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="32px">
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                          <span class="field-label">OPEN:&nbsp;&nbsp;</span>
                          <span class="field-value">R$&nbsp;{{ (1 / day.open).toFixed(4) }}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                          <span class="field-label">HIGH:&nbsp;&nbsp;</span>
                          <span class="field-value">R$&nbsp;{{ (1 / day.high).toFixed(4) }}</span>
                        </div>
                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="32px">
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                          <span class="field-label">CLOSE:&nbsp;&nbsp;</span>
                          <span class="field-value">R$&nbsp;{{ (1 / day.close).toFixed(4) }}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                          <span class="field-label">LOW:&nbsp;&nbsp;</span>
                          <span class="field-value">R$&nbsp;{{ (1 / day.low).toFixed(4) }}</span>
                        </div>
                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between center"
                        [ngStyle]="{'color': day.isPositive ? '#69C669' : '#E54E4E' }">
                        <span class="field-label">CLOSE DIFF (%):&nbsp;&nbsp;</span>
                        <span class="field-value">{{ day.isPositive ? '+' : '-' }}
                          {{ day.closingDiff.toFixed(2) }}%&nbsp;</span>
                        <mat-icon *ngIf="day.isPositive; else negativeDiff">keyboard_arrow_up</mat-icon>
                        <ng-template #negativeDiff>
                          <mat-icon>keyboard_arrow_down</mat-icon>
                        </ng-template>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div style="background-color: #07B0FB !important;" class="divider">
              </div>
            </div>
          </ng-template>

        </div>
      </div>
    </div>
  </form>

</div>

<!-- Footer -->
<div class="footer" fxLayout="row" fxLayoutAlign="center center">
  <span>Copyright 2022 - Action Labs</span>
</div>


<router-outlet></router-outlet>